body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Short Stack';
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

.main {
  background-image: url('./assets/shapes/background.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 30px !important;
}

.background {
  background-color: #F7F9FE;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}

.border-card {
  background-color: #FE6784;
  border-radius: 70px;
  padding: 10px 0px;
  text-align: center;
  color: white;
  width: 529px;
}

.border-card-green {
  background-color: #25A3A1;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}

.pink-card {
  background-color: #FE6784;
  border-radius: 20px;
  padding: 10px;
}

.pink-card-inner {
  background-image: url('./assets/shapes/pink-card.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15px 45px;
}

.image-card {
  border-style: dashed;
  border-width: 5px;
  border-color: #CCCCCC;
  border-radius: 10px;
  padding: 10px 30px;
  width: fit-content;
}

.input-card {
  border-style: dashed;
  border-width: 5px;
  border-color: #CCCCCC;
  border-radius: 10px;
  padding: 0px 20px;
  padding-bottom: 10px;
  width: 100%;
}

.pink-card-inner h2 {
  font-family: 'short stack';
  font-size: 24px;
  margin-bottom: 0;
}

.border-card h1 {
  font-family: 'short stack';
  font-size: 32px;
  margin-bottom: 0;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.border-card-green h2 {
  font-family: 'short stack';
  font-size: 24px;
  margin-bottom: 0;
}

.dashed-border {
  border-style: dashed;
  border-width: 4.5px;
  border-color: #FFAEBE;
}

.dashed-border-green {
  border-style: dashed;
  border-width: 4.5px;
  border-color: #A4FDFB;
}

.fun-text {
  font-family: 'short stack';
  font-size: 24px;
  margin-top: 15px;
}

.fun-text-h1 {
  font-family: 'short stack';
  font-size: 32px;
  margin-top: 15px;
}

.fun-text-p {
  font-family: 'short stack';
  font-size: 20px;
  margin-top: 5px
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 10px;
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.tab-pagination {
  background-color: #CD3F97;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 6px 16px;
}

.tab-pagination div p {
  font-size: 20px;
  margin-bottom: 0;
}

.custom-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #B6B6B6;
  background: none;
  width: 100%;
  padding: 0px;
  font-size: 20px;
}

@media(min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media(max-width: 968px) {
  html {
    font-size: 58.5%;
  }
}

@media(min-width: 720px) {
  html {
    font-size: 56.5%;
  }
}

@media(min-width: 540px) {
  html {
    font-size: 52.5%;
  }
}